/* Debug BOX*/
body * {
   display: block;
   min-width: 20px;
   min-height: 20px;
   border: solid 1px white;
}
/* END Debug BOX*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image:radial-gradient(transparent, black), url(/img/delhi.jpg);
    background-attachment: fixed;
}

#poney {
    display: flex;
    align-content: center;
    align-self: center;
    height: 85vh;
    width: 90vw;
}

.patate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
/* =======PATATE======= */
input {
    width: 10vw;
    height: 7vh;
    min-width: 100px;
    min-height: 50px;
    background: orange;
    font: futura;
    font-size: 150%;
    border-radius: 50px;
}

input:hover {
    background: blue;
    font-size: 200%;
}
/*====================*/

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

ul :hover {
   display: block;
   min-width: 20px;
   min-height: 20px;
   border: solid 1px white;
}

p {
    color: white;
}

h2 {
    color: green;
    text-decoration: underline;
}